<div class="container">
  <h1>Welcome Visitor</h1>
  <p>Play with my sortable list</p>

  <% if @items %>
    <ul class="sortable-list">
    <% @items.each do |item| %>
      <li ID="<%= item.id %>"><%= item.name %></li>
    <% end %>
    </ul>
  <% end %>
</div>